.product{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;
    margin-top: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.cart-container{
    background-color: rgb(212, 154, 230);
}
.cart-name{
    color: white;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .product-container{
        grid-template-columns: 1fr;
    }  
}